html {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

hr {
  border-color: #ccc;
  border-top-width: 0;
  margin: 2rem 0;
}

pre {
  color: #484de6;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

input[type=text],input[type=number] {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 3px;
}

.range-input {
  width: 4em;
}